<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @test.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @test.updated_at %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
