<!DOCTYPE html>
<html>
<head>
  <title>Canvadaptive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header"></div>
  <%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] if Canvadaptive::Application.assets.find_asset("#{params[:controller]}.js") %>
  <%= javascript_include_tag "#{params[:controller]}_#{params[:action]}"  if Canvadaptive::Application.assets.find_asset("#{params[:controller]}_#{params[:action]}.js") %>
</body>
</html>
